.column {
  border: 6px solid blue;
  width: 300px;
  float:left;
  padding: 20px;
  margin: 80px;
  background-color: rgba(255,255,255,0.75);
}
.column img {
  width: 300px;
  height: 300px;
}
body {
  background-image: url("../img/watergr.jpeg");
  background-size: cover;
}
h1 {
  text-align: center;
  background-image: url("../img/grass.jpeg");
  font-size: 70px;
  border-radius: 40px;
  text-shadow: 3px 3px 5px white;
}
h2 {
  text-align: center;
  font-family: cursive;
  font-size: 45px;
  text-shadow: 3px 3px 5px white;
}

div h3 {
  text-align: center;
  font-size: 25px;
}

div p span {
  font-style: italic;
  }
